version: '3.8'

services:
  app:
    container_name: 'sky_membership'
    build: 
      dockerfile: ./Dockerfile
    volumes:
      - .:/app
      - node_modules:/app/node_modules
      # - /shared/upload_on:/app/uploads
    environment:
      - PORT=4002
    ports:
      - "7090:4002"
    # command: npm install cookie-parser && npm start
    networks:
      - membership_network
  
volumes:
  node_modules:

networks:
  membership_network:
    driver: bridge
