version: '3.8'

services:
  app:
    container_name: 'sky_membership'
    build:
      context: .
      dockerfile: Dockerfile
    # volumes:
      # - .:/app
      # - /app/node_modules
    ports:
      - "7090:4002"
    env_file:
      - .env
    networks:
      - membership_network
      
    command: ["serve", '-s', "build"]

networks:
  membership_network:
    driver: bridge
